    <!DOCTYPE html>
    <html lang="es">
    <head>
    	<meta charset="utf-8">
    	<title>Página</title>
    	<link rel="stylesheet" type="text/css" href="../css/estilo.css" media="" >

    </head>
    <body>
        
         <header class="cabecera ">
           
    	   <h1 class="cabecera-titulo">Los imposibles no existen, no hay objetivo, ni meta que no puedas lograr. ! Cree en ti ! </h1>
        </header>
        <nav class="nav">
        	<ul class="nav-ul">
        		<li class="nav-items"> <a class="link__active" href="Pagina.php">Inicio</a></li>
        	    <li class="nav-items"> <a class="link__active" href="public/views/Productos.php">Productos</a></li>
        	    <li class="nav-items"> <a class="link__active" href="Contactos.html">Contactos</a></li>
        	    <li class="nav-items"> <a class="link__active" href="Informacion.html">¿ Quienes somos ?</a></li>

        	</ul>
        </nav>
       <main class="menu ">
           <section class="productos content">
               <h2 class="subtitulo">Productos</h2>
               <div class="container_card">
                   <div class="card">
                       <h3 class="card__text">Zapatos</h3>
                       <div class="card_img">
                          <img class="img" src="../img/yin_yan.jpg"> 
                       </div>
                        <div class="card__footer">
                              <h3 class="card__text--modifier">Precio: 3.$</h3>
                          <a class="button" href="">Comprar</a>
                       </div>
                   </div>
                     <div class="card">
                        <h3 class="card__text">Bragas</h3>
                         <div class="card_img">
                          <img  class="img" src="../img/yin_yan.jpg"> 
                       </div>
                       <div class="card__footer">
                            <h3 class="card__text--modifier">Precio: 3.$</h3>
                              <a class="button" href="">Comprar</a>
                       </div>
                   </div>
                     <div class="card">
                        <h3 class="card__text">Bikinis</h3>
                         <div class="card_img">
                          <img  class="img" src="../img/yin_yan.jpg"> 
                       </div>
                        <div class="card__footer">
                            <h3 class="card__text--modifier">Precio: 3.$</h3>
                          <a class="button" href="">Comprar</a>
                       </div>
                   </div>
               </div>
           </section>

           <section class="noticias content">
               <h2 class="subtitulo">Noticias</h2>
           </section>
           <section class="informacion content">
               <h2 class="subtitulo">Información</h2>
           </section>
       </main>
        <footer class="footer">
        	Derechos Reservados &copy; 2020
        </footer>


</body>
</html>