    <!DOCTYPE html>
    <html lang="es">
    <head>
    	<meta charset="utf-8">
    	<title>Página</title>
    	<link rel="stylesheet" type="text/css" href="../css/estilo.css" media="" >

    </head>
    <body>
        
         <header class="cabecera ">
           
    	   <h1 class="cabecera-titulo">Los imposibles no existen, no hay objetivo, ni meta que no puedas lograr. ! Cree en ti ! </h1>
        </header>
        <nav class="nav">
        	<ul class="nav-ul">
        		<li class="nav-items"> <a class="link__active" href="Pagina.php">Inicio</a></li>
        	    <li class="nav-items"> <a class="link__active" href="public/views/Productos.php">Productos</a></li>
        	    <li class="nav-items"> <a class="link__active" href="Contactos.html">Contactos</a></li>
        	    <li class="nav-items"> <a class="link__active" href="Informacion.html">¿ Quienes somos ?</a></li>

        	</ul>
        </nav>
       <main class="menu ">
           <section class="productos content">
               <h2 class="subtitulo">Productos</h2>
               <div class="container_card">
                   <div class="card">
                       <h3 class="card__text">Zapatos</h3>
                         <img class="img" src="../img/yin_yan.jpg"> 
                             <p class="card__text--modifier">Precio: 3.$</p>
                             <a class="button" href="">Comprar</a>
                    </div>
                     <div class="card">
                        <h3 class="card__text">Bragas</h3>
                          <img  class="img" src="../img/yin_yan.jpg"> 
                           <p class="card__text--modifier">Precio: 3.$</p>
                          <a class="button" href="">Comprar</a>
                   </div>
                     <div class="card">
                        <h3 class="card__text">Bikinis</h3>
                            <img  class="img" src="../img/yin_yan.jpg"> 
                          <p class="card__text--modifier">Precio: 3.$</p>
                          <a class="button" href="">Comprar</a>
                   </div>
               </div>
           </section>

           <section class="noticias ">
               <h2 class="subtitulo content">Noticias</h2>
               <div class="noticias__modifier">
                <div class="articulo_modifier">
               <article class="articulo">
                   <div class="card card__modifier">
                       <h3 class="card__text">Descuentos</h3>
                       <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                       proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a class="button" href="">Ver mas..</a>
                   </div>
               </article>
                 <article class="articulo">
                   <div class="card card__modifier">
                       <h3 class="card__text">Moda</h3>
                         <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                       proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a class="button" href="">Ver mas..</a>
                   </div>
               </article>
                 <article class="articulo">
                   <div class="card card__modifier">
                       <h3 class="card__text">Maquillaje</h3>
                         <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                       proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a class="button" href="">Ver mas..</a>
                   </div>
               </article>
               </div>
             
               <aside class="sidebar">
                   <div class="sidebar__info">
                       <h3 class="sidebar__text">Dato Curioso</h3>
                       <p class="parrafo">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                           consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                           proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                       </p>
                           <p class="parrafo">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                           consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                           cillum dolore eu fugiat nulla pariatur.
                       </p>
                   </div>
               </aside>
                 </div>
           </section>
           <section class="informacion content">
               <h2 class="subtitulo">Información</h2>
           </section>
       </main>
        <footer class="footer">
        	Derechos Reservados &copy; 2020
        </footer>


</body>
</html>