  <!DOCTYPE html>
  <meta charset="utf-8">
  <html>
  <head>
  	<title>Productos</title>
  	<link rel="stylesheet" type="text/css" href="../css/productos.css">

  </head>
  <body>
      
    <h1 align="center">Productos</h1>
     <div class="container">
        
       <div class="productos">
         <h2>Producto 1</h2>
       </div>
       <div class="productos">
          <h2>Producto 2</h2>
       </div> 
       <div class="productos">
         <h2>Producto 3</h2>
       </div> 
     </div>
      
   

  </body>
  </html>