<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Inicio</title>
</head>
<body>

	<header class="hero">
		<nav class="nav-hero">
			<div class="container container-nav">
				<div class="logo">
					<h2 class="logo_name">Zuleidy Rodríguez<span class="point">.</span></h2>
				</div>
				<div class="links">
					<a href="" class="link ">Inicio</a>
					<a href=""class="link ">Servicios</a>
					<a href=""class="link ">Proyectos</a>
					<a href=""class="link ">Clientes</a>
					<a href=""class="link link__active">Contacto</a>
				</div>
			</div>
		</nav>

	    <section class="container menu__hero">
		    <div class="hero__textos">
			    <h1 class="title"> La mejor <span class="title__active">Experiencia Digital.</span></h1>
			    <p class="copy"> Nos encargamos de llevar tu idea al<span class="copy__active"> siguente nivel.</span></p>
			    <a href="" class="cta" >Agenda un demo</a>
			</div>
		   <img src="../img/computer.jpeg " alt="" class="mockup">
		</section>
	</header>

    <main>
		 <section class="services">
			<div class="container">
				<h2 class="subtitle"> Nuestros servicios<span class="point">.</span></h2>
				<p class="copy__section">Ofrecemos las soluciones perfectas para la revolucion digital</p>
				<article class="container__cards">
				<div class="card">
					<div class="cards__texto">
					<p class="card__list">Especialistas en Diseño UX / UI</p>
					<h3 class="card__title">Apps Web<span class="point">.</span></h3>
					<p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="" class="card__button">Comienza tu proyecto</a>
					
				</div>
				</div>
				<div class="card">
					<div class="cards__texto">
					<p class="card__list">Especialistas en Diseño UX / UI</p>
					<h3 class="card__title">Diseño Web<span class="point">.</span></h3>
					<p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href=""  class="card__button">Comienza tu proyecto</a>
					
				</div>
				</div>
				
				<div class="card">
					<div class="cards__texto">
					<p class="card__list">Especialistas en Diseño UX / UI</p>
					<h3 class="card__title">Ecommerce<span class="point">.</span></h3>
					<p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href=""  class="card__button">Comienza tu proyecto</a>
					
				</div>
				</div>

				
				
			</article>
			</div>
 
			
			
		</section>
		<section class="projects container">
			
				<h2 class="subtitle">Proyectos recientes<span class="point">.</span></h2>
				<p class="copy__section">Hemos colaborado con marcas reconocidas a nivel mundial</p>
				
			<article class="container__bg">
				<div class="card">
					<div class="cards__texto">
					<h3 class="card__title">Diseño Web<span class="point">.</span></h3>
					<p class="card__date">1 de Noviembre del 2020</p>
					
					<p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="" class="card__button">Comienza tu proyecto</a>
					
				</div>
				</div>
				
				<div class="background">
					<img src="../img/computer.jpeg" class="background__img">
					<div class="background__text">
						<h3 class="background__title">La educación en línea</h3>
					    <p class="backgroud__copy">La realidad transformará por completo la educación</p>
					
						
					</div>
				</div>
				  <div class="card">
				  	  <div class="cards__texto">
					<h3 class="card__title">Diseño Web<span class="point">.</span></h3>
					<p class="card__date">1 de Noviembre del 2020</p>
					
					<p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="" class="card__button">Comienza tu proyecto</a>
					
				</div>
				  </div>
					
				<div class="background">
					<img src="../img/php.png" class="background__img">
					<div class="background__text">
						<h3 class="background__title">La educación en línea</h3>
					    <p class="backgroud__copy">La realidad transformará por completo la educación</p>
					
						
					</div>
				</div>
			</article>
 
		</section>
		<section class="testimony">
			<div class="container">
				<h2 class="subtitle">Clientes sastifechos<span class="point">.</span></h2>
			    <p class="copy__section">Cientos de empresas confian en nosotros</p>
			    <div class="container__testimony">
				<div class="testimony__card">
					<img src="../img/photo_1.jpg" class="testimony__img">
			   	<div class="testimony__copy">
					<div  class="testimony__info">
						<h3 class="testimony__name">Zuleidy Rodríguez</h3>
						<p class="testimony__position">Directora General de Marketing Venezuela-Express</p>
					</div>
				</div>
				</div>

				<div class="testimony__card">
					<img src="../img/photo_1.jpg" class="testimony__img">
			   	<div class="testimony__copy">
					<div  class="testimony__info">
						<h3 class="testimony__name">Roberto Andueza</h3>
						<p class="testimony__position">Director de Google en Estados Unidos</p>
					</div>
				</div>
				</div>

				<div class="testimony__card">
					<img src="../img/photo_1.jpg" class="testimony__img">
			   	<div class="testimony__copy">
					<div  class="testimony__info">
						<h3 class="testimony__name">Steven Jobs</h3>
						<p class="testimony__position">Fundador de APP</p>
					</div>
				</div>
				</div>
				
			</div>
			</div>
			
			
		</section>
		<section class="email container container__modifier">
			<h2 class="subtitle subtitle__modifier">Somos tu mejor opción para adoptar la transformación digital<span class="point">.</span></h2>
			 <p class="copy__section copy__section--modifier">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 tempor incididunt ut labore et dolore magna aliqua.</p>

			 <div class="check">
			 	<div class="check__item">
			 		<div class="check__numbers">
			 			<p class="check__number">+200</p>
			 			<p class="check__copy">Proyectos exitosos</p>
			 			
			 		</div>
			 		<div class="check__item">
			 		<div class="check__numbers">
			 			<p class="check__number">+200</p>
			 			<p class="check__copy">Proyectos exitosos</p>
			 			
			 		</div>
			 		<div class="check__item">
			 		<div class="check__numbers">
			 			<p class="check__number">+200</p>
			 			<p class="check__copy">Proyectos exitosos</p>
			 			
			 		</div>
			 		
			 	</div>
			 </div>
			 <form class="newslestter">
			 	<input type="text" name="" class="newslestter__input" placeholder="Ingresa tu email">
			 	<input type="submit" name="" class="newslestter__submit" value="Comienza hoy">
			 </form>
		</section>
	</main>
	<footer class="footer">
		<div class="container footer__caption">
			<section class="download">
				<div class="download__app">
				    <div class="download__item">
					    <h4 class="download__title">App Store</h4>
				   </div>
			   </div>
			   <div class="download__app">
			       <div class="download__item">
				       <h4 class="download__title">Play Store</h4>
				   </div>
			   </div>

			   <div class="footer__copy">
				    <p class="coyright"> Zuleidy Rodríguez &copy; Todos los derechos reservados </p>
				    <a href="" class="politica__privacidad politica__privacidad--margin">Política de Privacidad</a>
				    <a href="" class="politica__privacidad">Términos y Condiciones</a>
			    </div>
			</section>
			<section class="get__email">
				<h3 class="footer__title">¿ Estás listo para trabajar con nosotros?	</h3>
				 <form class="newslestter newslestter--modifier">
			 	<input type="text" name="" class="newslestter__input" placeholder="Ingresa tu email">
			 	<input type="submit" name="" class="newslestter__submit" value="Comienza hoy">
			 </form>
			</section>
			<div class="socialmedia">
				<p class="socialmedia__legend">Siguenos en:</p>
			</div>
			<div class="contact">
				<div class="item__contact">
					<h3 class="contact__title">Zuleidy Rodríguez</h3>
				</div>
				<div class="item__contact">
					<h3 class="contact__title">zuleidyrodriguez1@gmail.com</h3>
				</div>
				<div class="item__contact">
					<h3 class="contact__title">San Casimiro</h3>
				</div>
				<div class="item__contact">
					<h3 class="contact__title">Contactanos ahora</h3>
				</div>
			</div>
			

		</div>
	</footer>



</body>
</html>