<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Inicio</title>
</head>
<body>

	<header class="hero">
		<nav class="nav-hero">
			<div class="nav container-nav">
				<div class="logo">
					<h2 class="logo_name"> Zuleidy Rodríguez <span class="point">.</span></h2>
				</div>
			</div>
		</nav>

	    <section class="container menu__hero">
		    <div class="hero__textos">
			    <h1 class="title"> La mejor <span class="title__active">Experiencia Digital.</span></h1>
			    <p class="copy"> Nos encargamos de llevar tu idea al<span class="copy__active"> siguente nivel.</span></p>
			    <a href="" class="cta" >Agenda un demo</a>
			</div>
		   <img src="../img/php.jpg " alt="">
		</section>
	</header>

	<main>
		<section class="services">
			<div class="container">
				<h2 class="subtitle"> Nuestros servicios <span class="point">.</span></h2>
				<p class="copy__section">Ofrecemos las soluciones perfectas para la revolucion digital</p>
				
			</div>
 
			<article class="container__cards">
				<div class="cards__texto">
					<p class="card__list">Especialistas en Diseño UX / UI</p>
					<h3 class="card__title">Apps Web<span class="point">.</span></h3>
					<p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="card__button">Comienza tu proyecto</a>
					
				</div>
				<div class="cards__texto">
					<p class="card__list">Especialistas en Diseño UX / UI</p>
					<h3 class="card__title">Diseño Web<span class="point">.</span></h3>
					<p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="card__button">Comienza tu proyecto</a>
					
				</div>
				<div class="cards__texto">
					<p class="card__list">Especialistas en Diseño UX / UI</p>
					<h3 class="card__title">Ecommerce<span class="point">.</span></h3>
					<p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="card__button">Comienza tu proyecto</a>
					
				</div>
				
			</article>
			
		</section>
		<section class="projects__container">
			
				<h2 class="subtitle">Proyectos recientes<span class="point">.</span></h2>
				<p class="copy__section">Hemos colaborado con marcas reconocidas a nivel mundial</p>
				
			<article class="container__bg">
				<div class="cards__texto">
					<h3 class="card__title">Diseño Web<span class="point">.</span></h3>
					<p class="card__date">1 de Noviembre del 2020</p>
					
					<p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="card__button">Comienza tu proyecto</a>
					
				</div>
				<div class="background">
					<img src="">
				</div>
			</article>
 
		</section>
	</main>



</body>
</html>