body{
	padding: 0;
	margin: 0;
}

.container{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 0;
	height: auto;
	background: beige ;
	border-radius: 10px;

}

.menu{
	width: 70%;
	max-width: 500px;
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0;
	height: inherit;
	background: white;
	border-radius: 10px;
	padding: 8px;
}

.logo{
	text-align: center;
	font-size: 42px;
	color: #681660;
}

.grupo{

	background: beige;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

/* hacer click */
.enlace:active{
	background: white;
	color: pink;
}

/* sitio aun no visitado */
.enlace:link{

	color: aqua;
}
.enlace:visited{
 
   color: red;
}

.enlace:hover{
	background: gray;
	color: green;
}

.parrafo{
	background: indigo;
	color: white;
	border-radius: 5px;
	padding: 3px;

}

.parrafo:first-child{
	background: green;
	color: white;
}

.parrafo:last-child{
	background: purple;
	color: white;
}

.elementos p:first-of-type{
	background: #578699;
	color: white;
	border-radius: 5px;
	padding: 3px;

}

.elementos p:last-of-type{
	background: #9FCFBC;
	color: white;
	border-radius: 5px;
	padding: 3px;

}

.elementos div:last-of-type{
	background: #3DDF72;
	color: white;
	border-radius: 5px;
	padding: 3px;

}

.lista {
   list-style-type: none;
}

.lista :nth-child(odd)  {
  background: #EE1E3B;
  color: white;
}

.lista2{
	list-style-type: none;
}

.lista2 span:nth-of-type(2){
   background: #E24A22;
   color: white;
}