<html>
<head>
	<meta charset="utf-8">
	 <meta name="description" content="Ejemplo de HTML5">
     <meta name="keywords" content="HTML5, CSS3, JavaScript">
     <link rel="stylesheet" type="text/css" href="../css/miestilo.css">
	 <title>Blog</title>
</head>
<body>
<div class="content">
	<header class=" cabecera">
		<h1>La Mujer de mi Vida soy YO</h1>
	</header>
	<nav class="nav">
		<ul>
			<li>Inicio</li>
			<li>¿Quien Soy?</li>
			<li>Contacto</li>
		</ul>
	</nav>
	<aside class="columna">
		<p>
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
	</aside>
	<section class="seccion">
		<article class="articulo">
			<h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</h4>
		</article>
		<article class="articulo">
			<h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</h4>
		</article>

	</section>
	<footer class="footer">
		Derechos Reservados &copy; 2020
	</footer>
</div>
</body>
</html>