<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Form</title>
	
</head>
<body>
  <form id="formulario" method="">
  	<input type="text" name="" autocomplete="Ingrese los datos" >
  	<input type="password" name="" >
  	<input type="color" name="" >
  	<input type="search" name="" placeholder="Busqueda" >
  	<input type="mail" name="" placeholder="Busqueda" >
  	<input type="email" name="miemail" id="miemail" multiple>
  	<input pattern="[0-9]{5}" name="codigopostal" id="codigopostal”
title="inserte los 5 números de su código postal”>
  	<input type="submit" name="" value="Enviar" >
  </form>
</body>
</html>