<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
</head>
<body>
	<header class="cabecera">
		<h1 class="logo">Sistema de Registros de Usuario</h1>
		<nav class="nav">
			<ul class="nav-navbar">
				<a class="link-item" href="">Inicio</a>
				<a class="link-item" href="">Registrar</a>
				<a class="link-item" href="">Salir</a>
			</ul>
		</nav>
	</header>
    <div class="content">
    	<main class="main">
    		<section class="video">
    			<video src="../video/y2mate.com - 4 pasos para la mega productividad_5isJxJBzY7U_360p.mp4" controls poster="../img/download.png" ></video>
    		</section>
    		<section class="img">
    			
    		</section>



    	</main>
    </div>

</body>
</html>