<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header class="cabecera">
		<h1 class="logo">Sistema de Registros de Usuario</h1>
		<nav class="nav">
			<ul class="nav-navbar">
				<a class="link-item" href="">Inicio</a>
				<a class="link-item" href="">Registrar</a>
				<a class="link-item" href="">Salir</a>
			</ul>
		</nav>
	</header>
    <div class="content">
    	<main class="main">
    		<section class="video" id="reproductor">
    			<video src="../video/y2mate.com - 4 pasos para la mega productividad_5isJxJBzY7U_360p.mp4" controls poster="../img/download.png"  loop ></video>
    		</section>
    	  <div id="botones">
               <button type="button" id="reproducir">Reproducir</button>
          </div>
          <div id="barra">
              <div id="progreso"></div>
          </div>
          <div style="clear: both"></div>
    		<section class="img">

    		</section>
    	</main>
    </div>

</body>
</html>