<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>

	<div class="container">
		<h1 class="logo">Pseudoclases</h1>
		<main class="menu">
			<div class="grupo">
				<a href="pseudoclasesform.html" class="enlace"> Grupo 1</a>
				<a href="form.html" class="enlace"> Grupo 2</a>
				<a href="" class="enlace"> Grupo 3</a>
				<a href="form.html" class="enlace"> Grupo 4</a>
			</div>

			<div class="grupo">
				<p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. </p>
				<p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. </p>
				<p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. </p>
				<p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
				<p class="parrafo">Lorem ipsum dolor sit amet </p>

			</div>
			<div class="grupo">
				<div class="elementos">
					<div>Soy un div</div>
					<p>Soy un parrafo</p>
					<span>Soy un span</span>
					<div>Soy un div</div>
					<p>Soy un parrafo</p>
					<span>Soy un span</span>
				</div>
			</div>
			<div class="grupo">
				<ul class="lista">
					<li>Elemento 1</li>
					<li>Elemento 2</li>
					<li>Elemento 3</li>
					<li>Elemento 4</li>
					<li>Elemento 5</li>
					<li>Elemento 6</li>
					<li>Elemento 7</li>
					<li>Elemento 8</li>
				</ul>
			</div>
			<div class="grupo">
				<ul class=" lista2">
					<div>Soy un div</div>
					<p>Soy un parrafo</p>
					<span>Soy un span</span>
					<div>Soy un div</div>
					<p>Soy un parrafo</p>
					<span>Soy un span</span>
				</ul>
			</div>
			<div class="grupo lista3">
				<div >
					Unico elemento
				</div>
			</div>

		</main>
	</div>

</body>
</html>