<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>Pagina</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">

</head>
<body>
     <header>
	   <h1>Titulo Principal o Logo de la pagina</h1>
    </header>
    <nav>
    	<ul>
    		<li> <a href="">Inicio</a></li>
    	    <li> <a href="Productos.html">Productos</a></li>
    	    <li> <a href="Contactos.html">Contactos</a></li>
    	    <li> <a href="Informacion.html">¿ Quienes somos ?</a></li>

    	</ul>
    </nav>
    <aside>
    	<h2>Dato Curioso</h2>
    	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </aside>
    <section>
    	<article>
    		<h2>Titulo de un contenido</h2>
    		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    		proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    	</article>
    	<article>
    		<h2>Titulo de un contenido</h2>
    		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    		proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    	</article>
    </section>
    <footer>
    	Derechos Reservados &copy; 2020
    </footer>
 

</body>
</html>