<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8">
<head>
	<title>Registro de Usuario</title>
	<link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>

	<div class="container">
		<form>
			<h1>Registro de Usuario</h1>
			<fieldset>
				<label for="name">Nombre y Apellido : </label>
				<input type="text" name="name">
				<br><br>
				<label for="numero">Número de Télefono : </label>
				<input type="text" name="numero">
				<br><br>
				<label for="user">Correo Electronico : </label>
				<input type="mail" name="user">
				<br><br>
				<label for="password">Contraseña : </label>
				<input type="password" name="password">
				<br><br>
				<label for="password">Verifica Contraseña : </label>
				<input type="password" name="password">
			</fieldset>
		</form>
	</div>

</body>
</html>