	<!DOCTYPE html>
	<html lang="es">
	<head>
		<meta charset="utf-8">
		 <meta name="description" content="Ejemplo de HTML5">
	     <meta name="keywords" content="HTML5, CSS3, JavaScript">
	     <link rel="stylesheet" type="text/css" href="../css/miestilo.css">
		 <title>Blog</title>
	</head>
	<body>
	<div class="content">
		<header class=" cabecera">
			<h1>Blog Personal Zuleidy Rodríguez</h1>
		</header>
		
		 <nav>
	    	<ul>
	    		<li> <a href="">Inicio</a></li>
	    	    <li> <a href="">Productos</a></li>
	    	    <li> <a href="">Contactos</a></li>
	    	    <li> <a href="">¿ Quienes somos ?</a></li>

	    	</ul>
	    </nav>
		<div class="centro">
		 <aside class="columna">
	    	<h2>Dato Curioso</h2>
	    	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
	    </aside>
		
		<section class="seccion">
			<article class="articulo">
				<h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h4>
			</article>
			<article class="articulo">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>


		<table class="normal" summary="Tabla genérica">
		<tr>
		<th scope="col">A</th>
		<th scope="col">B</th>
		<th scope="col">C</th>
		<th scope="col">D</th>
		<th scope="col">E</th>
		</tr>
		...
		</table>
			</article>
			<article class="articulo">
				<h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h4>
			</article>

		</section>
		 <aside class="acerca">
	    	<h2>Dato Curioso</h2>
	    	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
	    </aside>
	   </div>
		<footer class="footer">
		 Zuleidy Rodríguez	Derechos Reservados &copy; 2020
		</footer>
		
	</div>
	</body>
	</html>