	<!DOCTYPE html>
	<html lang="es">
	<head>
		<meta charset="utf-8">
		 <meta name="description" content="Ejemplo de HTML5">
	     <meta name="keywords" content="HTML5, CSS3, JavaScript">
	     <link rel="stylesheet" type="text/css" href="../css/miestilo.css">
		 <title>Blog</title>
	</head>
	<body>
	<div class="content">
		<header class="header">
			<div class="encabezado">
				<h1 class="logo">Zuleidy Rodríguez<span class="point">.</span></h1>
				<p class="p_logo"> Blog Profesional<span class="point">.</span></p>
			</div>
			<nav class="nav">
				<div class="navbar">
					<a href="" class="link">Inicio</a>
					<a href="" class="link">Servicios</a>
					<a href="" class="link">Proyectos Realizados</a>
					<a href="" class="link">Contacto</a>
				</div>
			</nav>
		</header>

		<section class="services">
			
		</section>

		<aside class="">
			<div class="socialmedia">
				<p class="socialmedia__legend">Siguenos en:</p>
			</div>
		<div class="contact">
				<div class="item__contact">
					<h3 class="contact__title">Zuleidy Rodríguez</h3>
				</div>
				<div class="item__contact">
					<h3 class="contact__title">zuleidyrodriguez1@gmail.com</h3>
				</div>
				<div class="item__contact">
					<h3 class="contact__title">San Casimiro</h3>
				</div>
				<div class="item__contact">
					<h3 class="contact__title">Contactanos ahora</h3>
				</div>
			</div>
		</aside>
		<footer class="footer">
		<div class="container footer__caption">
			<section class="download">
				
			   

			   <div class="footer__copy">
				    <p class="coyright"> Zuleidy Rodríguez &copy; Todos los derechos reservados </p>
				    <a href="" class="politica__privacidad politica__privacidad--margin">Política de Privacidad</a>
				    <a href="" class="politica__privacidad">Términos y Condiciones</a>
			    </div>
			</section>
			
			
			
			

		</div>
		
	</footer>

		
	</div>
	</body>
	</html>