	<!DOCTYPE html>
	<html lang="es">
	<head>
		<meta charset="utf-8">
		 <meta name="description" content="Ejemplo de HTML5">
	     <meta name="keywords" content="HTML5, CSS3, JavaScript">
	     <link rel="stylesheet" type="text/css" href="../css/miestilo.css">
		 <title>Blog</title>
	</head>
	<body>
	<div class="content">
		<header class="header">
			<div class="encabezado">
				<h1 class="logo">Zuleidy Rodríguez<span class="point">.</span></h1>
				<p class="p_logo"> Blog Profesional<span class="point">.</span></p>
			</div>
			<nav class="nav">
				<div class="navbar">
					<a href="" class="link">Inicio</a>
					<a href="" class="link">Servicios</a>
					<a href="" class="link">Proyectos Realizados</a>
					<a href="" class="link">Contacto</a>
				</div>
			</nav>
		</header>
      <div class="container">
		<main class="content_main">
		    <section class="main_services">
		    	<h2 class="subtitulo">Servicios</h2>
              <article class="articulos">
              	<div class="card">
              		<h3 class="card_text">Administración de Base de Datos.</h3>
              		<div class="card_body">
              			<p class="parrafo">Creación de Bases de Datos</p>
              			<p class="parrafo">Modelo Entidad-Relación</p>
              			<p class="parrafo">Gestores de Base de Datos</p>
              		</div>
              	</div>
              </article>
               <article class="articulos">
              	<div class="card">
              		<h3 class="card_text">Front-end.</h3>
              		<div class="card_body">
              			<p class="parrafo">Css Avanzado</p>
              			<p class="parrafo">Javascript</p>
              			<p class="parrafo">Librerias y frameworks</p>
              		</div>
              	</div>
              </article>
               <article class="articulos">
              	<div class="card">
              		<h3 class="card_text">Back-end.</h3>
              		<div class="card_body">
              			<p class="parrafo">Servidores</p>
              			<p class="parrafo">Php, node.js</p>
              			<p class="parrafo">Frameworks</p>
              		</div>
              	</div>
              </article>
		    </section>
		    <section class="main_proyectos">
		    	<h2 class="subtitulo">Proyectos</h2>
		    	<div class="container_card">
		       <article class="articulos">
              	<div class="card">
              		<h3 class="card_text">Paginas web.</h3>
              		<div class="card_body">
              			<p class="lema">Usabilidad, dinamismo y efectividad.</p>
              			<a href="" class="button">Ver demo</a>
              		</div>
              	</div>
              </article>
               <article class="articulos">
              	<div class="card">
              		<h3 class="card_text">Plataformas educativas.</h3>
              		<div class="card_body">
              			<p class="lema">Contenido de calidad.</p>
              			<a href="" class="button">Ver demo</a>
              		</div>
              	</div>
              </article>
               <article class="articulos">
              	<div class="card">
              		<h3 class="card_text">Sistemas de Información.</h3>
              		<div class="card_body">
              			<p class="lema">Organizacion de procesos y mejor rendimiento.</p>
              			<a href="" class="button">Ver demo</a>
              		</div>
              	</div>
              </article>
		    	</div>
		    </section>
		</main>

		<aside class="sidebar">
			<div class="socialmedia">
				<p class="socialmedia__legend">Siguenos en:</p>
			</div>
		<div class="contact">
				<div class="item__contact">
					<h3 class="contact__title">Zuleidy Rodríguez</h3>
				</div>
				<div class="item__contact">
					<h3 class="contact__title">zuleidyrodriguez1@gmail.com</h3>
				</div>
				<div class="item__contact">
					<h3 class="contact__title">San Casimiro</h3>
				</div>
				<div class="item__contact">
					<h3 class="contact__title">Contactanos ahora</h3>
				</div>
			</div>
		</aside>
		</div>
		<footer class="footer">
		<div class="container footer__caption">
			<section class="download">
				
			   

			   <div class="footer__copy">
				    <p class="coyright"> Zuleidy Rodríguez &copy; Todos los derechos reservados </p>
				    <a href="" class="politica__privacidad politica__privacidad--margin">Política de Privacidad</a>
				    <a href="" class="politica__privacidad">Términos y Condiciones</a>
			    </div>
			</section>
			
			
			
			

		</div>
		
	</footer>

		
	</div>
	</body>
	</html>