body {
  
}
header {
  
    text-align: center;
    border: 1px solid yellow;
    background: orange;
   
}

h1{
    color: white;
    font: cursive;
 }
 nav{
  
    border: 1px solid orange;
    background: yellow;
 }

 nav li {
   display: inline-block;
 
 }
 nav li a{

      list-style: none;
      

 }
 aside {
    
   float: left;
    width: 220px;
    margin: 3px auto;
    padding: 20px;
    background: red;
 }
section {

    background: brown;
    float: left;
    width: 660px;
    margin: 20px;
}


section article{
    display: inline-block;
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;

}


footer{
    background: orange;
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}
h2{
    color: green;
}
p{
    color: blue;
}