*{
	margin: 0px;
	padding: 0px;
   
}

.content {
	
	width: 960px;
    margin: 20px auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.cabecera{

   
    padding: 1em;
    background:#F7F7E2;

}
.cabecera{

   
    font-style: italic;
    font-size: 1.6em;

}

 nav{
    padding:0.5em; 
    margin-bottom: 0.5em;
    border-bottom: 1px solid #5C475E;
    background: #379B73; 
    display: flex;
    justify-content: flex-end;

    
}

 ul  {

    display: flex;
    list-style: none;
    padding: 0.5em;

    
}

ul li{
  margin-left: 1em;
 
}

a{
      color: white; 
      text-decoration: none; 
      font-size: 1.3em; 
      font-style: italic;
     
}


 a:hover{
    color: orange;
 }

.centro{
    display: flex;


}

.columna {
    
 
    width: 220px;
    margin: 3px auto;
    padding: 0.5em;
    background-color: #D47B7B;
    border: 1px solid #AE4E4E;
 }

 .columna p{
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
 }

.seccion {

    background: beige;
    float: left;
    width: 660px;
    margin: 20px;
    padding: 0.5em;
    

}


.seccion .articulo{
    width: 400px;
	display: inline-block;
	background: #FFFBCC;
    padding: 0.5em;
    margin: 1em;
    border-radius: 10px;


}

.articulo h4{
    font-size: 1.6em;
    line-height: 1.2;
}

.acerca{
    
   float: left;
    width: 220px;
    margin: 3px auto;
    padding: 0.5em;
    border: 1px solid #CC6600;
   
 }

 .acerca p{
  
  line-height: 1.2;
   text-align: justify;
   font-size: 0.9em;

 }


.footer{
   
	clear: both;
    text-align: center;
    background-color: #825757;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    margin-top: 1em;
    padding: 0.5em;
}

h1{
	color: black;

}

.acerca h2{
    background-color: #DB905C;
    padding: .2em;
    font-size: 1.6em;
    text-align: justify;
    line-height: 1.5em;
}

.acerca p{
    font-size: 0.9em;
}

.articulo h4{ 

color: orange ; 
line-height: 1.2;
text-align: justify;


}


.normal {
width: 250px;
border-collapse: collapse;
}
.normal th, .normal td {
border: 1px solid #000;
}

