*{
	margin: 0px;
	padding: 0px;
   
}

.content
{
	
	width: 960px;
    margin: 20px auto;
     border: 1px solid blue;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
.cabecera{

   
    padding: 1em;
}
 nav{
    padding:0.5em; 
    margin-bottom: 0.5em;
    border-bottom: 1px solid #004C99;
    background: navy; 
    
}
nav ul li {
   display: inline-block;
}
a{
      list-style: none;
       color: white;    
 }
 a:hover{
    color: black;
 }

.centro{
    display: flex;


}

.columna {
    
   float: left;
    width: 220px;
    margin: 3px auto;
    padding: 0.5em;
    background-color: #F8F8F8;
    border: 1px solid #C5C5C5;
 }

.seccion {

    background: brown;
    float: left;
    width: 660px;
    margin: 20px;
    padding: 0.5em;
}


.seccion .articulo{
    width: 400px;
	display: inline-block;
	background: #FFFBCC;
    padding: 0.5em;
    margin: 1em;
    border-radius: 10px;


}
.acerca{
    
   float: left;
    width: 220px;
    margin: 3px auto;
    padding: 0.5em;
    border: 1px solid #CC6600;
   
 }


.footer{
   
	clear: both;
    text-align: center;
    background-color: #F8F8F8;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    margin-top: 1em;
    padding: 0.5em;
}
h1{
	color: orange;
}
.acerca h2{
    background-color: #DB905C;
    padding: .2em;
}

.articulo h4{ 

color: orange ; 
}