*{
    margin: 0px;
     padding: 0px;
 }

.content{

 width: 100%;
 overflow: hidden;
}

.cabecera{
    border-bottom: 1px solid beige;
     background: #CCCED8;
     height: 200px;
    display: flex;
    justify-content: space-between;
}

.cabecera-titulo{
  text-align: center;
  padding: 2.5em;
  color: #3C3040;
 font-style: italic;
  font-weight: bold;
}

 .nav .nav-ul{
  border-bottom: 1px solid beige;
  background: #FA5873;
  padding: 0.5em; height: 40px;
  display: flex;
  justify-content: center;
  list-style: none;

}

.nav-items {
    margin: 2px;
    padding: 1em;
    border-right: 2px solid gray;
}

 .link__active:hover {
 margin: 2px; padding: 1em;
 background: white;
 color: #3C3040;
   }

 .link__active{
    color: white;
    font-size: 18px;
    font-style: italic;
   text-decoration: none;
   font-weight: lighter;
}

 .link__active:visited {
    color: black;
}

.menu{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.subtitulo{
    padding: 5px;
    font-size: 30px;
    font-weight: 300;
    color: #DC0D15;
}

.productos{
    padding: 0;
    background: beige;
}

.container_card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px
}

.card{

   width: 200px;
   height: 400px;;
   background: #C2EBEB;
   border-radius: 10px;
   

}

.card__text{
  
    width: inherit;
    height: 50px;
    background: white;
    color: #143499;
    text-align: center;

}

.card_img{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.img{
    border-radius: inherit;
    border: inherit;
    width: 200px;
    height: 200px;
}

.card__footer{
    width: inherit;
    height: 100px;
    background: #CA2D14;
}


.footer{
    background: orange;
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;

}


p{
    color: #8A8E27;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
font-size: 2ex;
}