*{
    margin: 0px;
     padding: 0px;
 }

.content{
   width: 90%;
    margin-right: 5%;
    margin-left: 5%;

}

.cabecera{
    border-bottom: 1px solid beige;
     background: #CCCED8;
     height: 200px;
    display: flex;
    justify-content: space-between;
}

.cabecera-titulo{
  text-align: center;
  padding: 2.5em;
  color: #3C3040;
 font-style: italic;
  font-weight: bold;
}

 .nav .nav-ul{
  border-bottom: 1px solid beige;
  background: #FA5873;
  padding: 0.5em; 
  height: 40px;
  display: flex;
  justify-content: center;
  list-style: none;

}

.nav-items {
    margin: 2px;
    padding: 1em;
    border-right: 2px solid gray;
}

 .link__active:hover {
 margin: 2px; padding: 1em;
 background: white;
 color: #3C3040;
   }

 .link__active{
    color: white;
    font-size: 18px;
    font-style: italic;
   text-decoration: none;
   font-weight: lighter;
}

 .link__active:visited {
    color: black;
}

.menu{
  width: 100%;
  
}

.subtitulo{
    padding: 5px;
    font-size: 30px;
    font-weight: 300;
    color: #DC0D15;

}

.productos{
  
    background: white ;
}

.container_card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

.card{

   width: 200px;
   height: 400px;;
   background: #C2EBEB;
   border-radius: 10px;
}
.card__text{

    width: inherit;
    height: 50px;
    background: white;
    color: #143499;
    text-align: center;
     border-radius: 10px;


}

.img{
    border-radius: inherit;
    border: inherit;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
.card__text--modifier{
    font-size: 20px;
    font-weight: 300px;
    color: black;
     padding: 5px;
}

.button{
   
    width: 100px;
    height:100px;
     padding: 5px;
    margin: 5px;
    background: #ED2020;
    color: white;
    text-decoration: none;
    border-radius: 10px;

}

.noticias {
    background: beige;
   

}
.noticias__modifier{
     display: flex;
    justify-content:space-between;
}

.articulo{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}
.articulo_modifier{
    display: block;
}

.card__modifier{
    width: 700px;
    height: auto;
    background: #A43074;
}

.parrafo{
    padding: 5px;
    color: #163514;
}

.sidebar{
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 2px solid black;
  background: #9CF4AA;

}

.sidebar__info{
  padding: 5px;
  margin: 5px;
}
.sidebar__text{
    text-align: center;
    color: #210D0D;
}

.informacion{
    padding: 0;
   margin: 0;
   width: 100%;
   background: #E25310;
   align-items: center;
   

}

.info{
    color: white;
    margin: 15px;
}

.card_modify{
    width: 300px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid white;
    background: #4A3CE4;

}
.card_modify .parrafo{
    margin: 25px;
  text-align: justify;
  text-indent: 2em;
  color: black;
}

.card_modify:first-child{
  background: #EEBBE6;
}
.card_modify:last-child{
  background: #F6EA89;
}

.container_card .contactos{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.card__contactos{
    width:300px;
    height: 300px;
    background: beige;
    border: 1px solid black;
   
}
.parrafo__contactos{
    text-align: center;
    padding: 50px;
    margin: 50px;
    color: #B04848;
    font-size: 26px;
    font-weight: 300;
}

.parrafo__contactos--active{
    color: black;
    font-size: 30px;
    font-weight: 300;
    text-align: justify;

}

.footer{
    background: #B04848;
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;

}


