*{
    margin: 0px;
    padding: 0px;
}

.cabecera{
  
    text-align: center;
    border-bottom: 1px solid gray;
    background: silver;
}
 .nav{ 
    border: 2px solid white ;
    background: teal;
    padding: 0.5em
 }
 .nav .nav-ul .nav-items {
   
   display: inline-block;
 }

a{
      list-style: none;
       color: white;
 }

 a:hover{
    color: lime;
 }
 .sidebar {
    
   float: left;
    width: 220px;
    margin: 3px auto;
    padding: 20px;
    background: olive;
 }
section {
     padding: 10px;
    background: brown;
    float: left;
    width: 660px;
    margin: 20px;
}


section article{
    width: 500px;
    display: inline-block;
    background: #FFFBCC;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.parrafo{
    color : white;
}

footer{
    background: orange;
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}
h1,h2{
   
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
h1{color: teal;}
h2{color: aqua;}

p{
    color: #8A8E27;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
font-size: 2ex;
}