body{

	background-image: url(../img/fondo.png) ;
    
}

form{
	float: center;
    width: 600px;
    padding: 1em;
    margin: 20px;
    
}

fieldset{
	  border-radius: 10px ;
     border: 1px solid gray;
     padding: 1em;
     background: white;
}

legend{
	margin: 10px;
	 padding: 1em;
	color: red;
	text-align: center;
}

label{
	
	color: gray;
	margin: 7px;
	
}
input{
	width: 350px;
	height: 40px;
	border-radius: 10px;
	border: 2px solid gray; 
	margin: 5px;
	
}
h1{
	text-align: center;
	color: orange;
	
	
}