body{

	background-image: url(../img/fondo.png) ;
    
}

form{
	
    width: 600px;
    padding: 1em;
    margin: 20px;
    background: beige;

  
	
}

fieldset{
	  border-radius: 10px ;
     border: 1px solid gray;
     padding: 1em;
     background: white;
}

legend{
	margin: 10px;
	 padding: 1em;
	color: red;

}

label{
	
	color: gray;
}
input{
	width: 350px;
	height: 40px;
	border-radius: 10px;
	border: 2px solid gray; 
}
h1{
	align-items: center;
	width: 400px;
	height: 40px;
	background: white;
	color: orange;
	border-radius: 10px;
	border: 2px solid gray;
	margin: 1em;
	padding: 0.5em;
}